<div class="row g-0">
  <div class="col-9 pt-4 class-container">
    <div class="container me-5 ps-5">
      <h1 class="d-inline me-3">{{ course.name }}</h1>
      <p class="d-inline blockquote-footer ">Atualizado em data</p>
    </div>

    <div class="video-container container-fluid g-0 mt-3 mb-3">
      <video width="100%" controls autoplay [src]="currentClass.link" type="video/mp4"></video>
    </div>

    <div class="container mb-4 ps-5">
      <h2>{{currentClass.title}}</h2>
      <p *ngIf="currentClass.description">
        <strong>Descrição:</strong> {{ currentClass.description }}
      </p>
    </div>
  </div>

  <aside class="col-3 pt-4 classes-sidebar-container">
    <div class="row g-0">
      <h2 class="text-center m-0" style="line-height: 2;">Conteúdo do curso</h2>
    </div>
    <div class="row g-0 justify-content-center mb-4">
      <div class="col-11 d-flex justify-content-center">
        <form class="d-flex w-100">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
    <div class="row g-0">
      <ul class="list-group-numbered">
        <li
        *ngFor="let class of course.classes"
        class="list-group-item list-group-item-action class-item d-flex pt-3 pb-3"
        [ngClass]="{ active: class === currentClass }"
        (click)="updateCurrentClassOnClassClick(class)">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{class.title}}</div>
            Content for list item
          </div>
          <div class="d-flex align-items-center">
            <input class="form-check-input" type="checkbox" disabled>
          </div>
        </li>
      </ul>
    </div>
  </aside>

</div>
