<div class="row g-0">
  <div class="col-9 pt-4 class-container">
    <div class="container me-5 ps-5">
      <h1 class="d-inline me-3">Nome do curso</h1>
      <p class="d-inline blockquote-footer ">Atualizado em data</p>
    </div>

    <div class="video-container container-fluid g-0 mt-3 mb-3">
      <video width="100%" controls autoplay>
        <source src="../../../../assets/yoda.MP4" type="video/mp4">
      </video>
    </div>

    <div class="container mb-4 ps-5">
      <h2>Título da aula</h2>
      <p>
        Descrição: Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolores officiis laboriosam qui similique doloribus, accusantium quasi enim. Sunt laborum repellat, voluptates facere nihil odit hic eligendi.
      </p>
    </div>
  </div>

  <aside class="col-3 pt-4 sidebar-container">
    <div class="row g-0">
      <h2 class="text-center m-0" style="line-height: 2;">Conteúdo do curso</h2>
    </div>
    <div class="row g-0 justify-content-center mb-3">
      <div class="col-11 d-flex justify-content-center">
        <form class="d-flex w-100">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </aside>

</div>
