<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EduStudio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex w-100 justify-content-center">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        <ul class="navbar-nav nav-fill mb-2 mb-lg-0 flex-nowrap" style="white-space: nowrap;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/courses']">Meus cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Detalhes dos cursos</a>
          </li>
        </ul>
      </div>
      <div class="ms-5">
        <!-- <button class="btn btn-primary">Entrar</button> -->
        <button class="btn btn-outline-secondary">Sair</button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</body>
