<div class="video-card">
  <h4>Nome do curso</h4>
  <div class="thumbnail-container">
    <img class="course-thumbnail" src="https://img.freepik.com/vetores-gratis/fundo-das-aguarelas-das-cores-claras_1340-190.jpg?size=338&ext=jpg">
    <div class="thumbnail-overlay">
      <div class="row text-white text-center">
        <div class="col-12">
          <h3>7</h3>
        </div>
        <div class="col-12">
          <h3>aulas</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<span><small>Código do vídeo</small></span>
